* {
  margin: 0;
}

.header {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 40px;
}
.banner {
  text-align: left;
  margin-left: 20px;
  margin: 20px;
  padding: 30px;
}
.banner h1 {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 50px;
  text-align: center;
  align-items: center;
}
.banner p {
  color: #707070;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.btn {
  text-align: center;
  border-radius: 5px;
  background-color: #ff5959;
  margin-top: 40px;
  margin-left: 15px;
  color: white;
  font-size: 18px;
  border: 0;
  padding: 20px;
}
.button {
  text-align: center;
  align-items: center;
}
.btn4 {
  text-align: center;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 15px;
  color: #ff5959;
  font-size: 18px;
  border: 1px solid #ff5959;
  padding: 20px;
}
.btn2 {
  height: 64px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  background-color: #ff5959;
  margin-top: 50px;
  color: white;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
}
.btn1 {
  height: 64px;
  border-radius: 5px;
  background-color: #ff5959;
  margin-top: 50px;
  color: white;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
}

/*---main---//*/

.donation {
  font-family: "Open Sans", sans-serif;
  margin-top: 170px;
  margin: 0 300px;
  text-align: center;
}

.donate-title {
  font-family: "Open Sans", sans-serif;
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  margin: 40px;
  padding-top: 10px;
  color: #121212;
}

.description {
  font-size: 25px;
  text-align: center;
  padding-bottom: 25px;
}

.ammount {
  display: flex;
  align-items: center;
  box-shadow: #121212;
  height: 30px;
  padding: 10px;
  margin-top: 50px;
  text-align: center;
}
.tk {
  color: #707070;
  padding: 30px;
  margin: 10px;
}
.tk:hover {
  color: #ff5959;
  border: 2px solid #ff5959;
  background-color: #ffeeee;
}

.donation h4 {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: #707070;
  border-bottom: 1px solid #dadada;
  font-family: "Open Sans", sans-serif;
}
.plan {
  margin-top: 170px;
}
.container {
  display: flex;
  justify-content: space-around;
  margin: 0 150px;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.plan-title {
  font-family: "Open Sans", sans-serif;
  color: #121212;
  font-size: 24px;
  margin: 20px;
  padding-top: 20px;
}
.plan1 {
  width: 360px;
  height: 352px;
  padding: 20px;
  background-color: rgba(79, 157, 166, 0.22);
  border-radius: 5px;
}
.plan2 {
  width: 360px;
  height: 352px;
  padding: 20px;
  margin-left: 20px;
  background-color: rgba(245, 211, 211, 0.64);
  border-radius: 5px;
}
.plan3 {
  width: 360px;
  height: 352px;
  padding: 20px;
  margin-left: 20px;
  background-color: #f3f2cd;
  border-radius: 5px;
}
.plan-des {
  font-size: 18px;
  color: #707070;
  width: 100%;
}

.lives {
  font-family: "Open Sans", sans-serif;
  margin-top: 170px;
  margin-left: 100px;
  padding: 40px;
  display: flex;
}
.img image {
  width: 456px;
  height: 477px;
  padding: 20px;
}
.des h1 {
  color: #121212;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 45px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.des p {
  font-size: 20px;
  padding-right: 40px;
  padding-top: 20px;
  color: #707070;
  text-align: left;
}
.servive {
  margin-top: 170px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
  display: flex;
}
.des1 {
  font-size: 20px;
  padding-left: 70px;
  color: #707070;
  text-align: left;
  width: 539px;
  height: 374px;
  left: 649px;
}
.des1 h1 {
  color: #121212;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 45px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.update {
  margin-top: 170px;
  padding: 20px;
  text-align: center;
}
.update p {
  color: #707070;
  font-size: 20px;
  padding: 0 100px;
  text-align: center;
}
.mail {
  margin-top: 100px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 150px;
  padding: 60px;
  background-color: #f3f2cd;
  text-align: center;
}

.mail input {
  padding: 15px;
  background-color: #c7c6c6;
  font-size: 18px;
  border: 0;
}
.mail .btn3 {
  color: white;
  background-color: #ff5959;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
footer {
  background-color: #0b0d17;
  height: 177px;
  width: 100%;
}
footer h1 {
  color: #ff5959;
  text-align: center;
  padding: 40px;
  font-family: "Lobster";
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.5px;
  font-family: "lobster", sans-serif;
}
footer h5 {
  color: white;
  font-size: 20px;
  text-align: center;
}
footer p {
  color: white;
}
